
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Critical Brain", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><b>Department</b></li>
                        <li>@Html.ActionLink("Electronics", "Electronics", "Inventory")</li>
                        <li>@Html.ActionLink("Assembly", "Assembly", "Inventory")</li>
                        <li>@Html.ActionLink("Shipping", "Shipping", "Inventory")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Receiving", "Receiving", "Inventory")</li>
                        <li role="separator" class="divider"></li>

                        <li>@Html.ActionLink("Off-Site", "Offsite", "Inventory")</li>
                    </ul>
                </li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serial # <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Log a Serial #", "Create", "SerialNumbers")</li>
                        <li>@Html.ActionLink("Lookup a Serial #", "Index", "SerialNumbers")</li>
                        <li>@Html.ActionLink("Log a Shipment", "LogShipment", "SerialNumbers")</li>

                        
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repairs (old) <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Log a Repair", "Create", "Repairs")</li>
                        <li>@Html.ActionLink("Lookup a Repair", "Index", "Repairs")</li>
                       
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RMA <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Lookup a RMA", "Index", "RepairRouters")</li>
                        <li>@Html.ActionLink("Start a RMA", "Create", "RepairRouters")</li>
                        

                    </ul>
                </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Production <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Totals", "Index", "ProductionOutputTotals")</li>

                    </ul>
                </li>*@
                <li class="dropdown">
                    @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Receiving <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Receive", "Index", "ProductReceiveds")</li>
                        <li>@Html.ActionLink("SqlCommander", "Index", "SqlCommander")</li>

                    </ul>
                </li>*@
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Offsite Jobs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Lookup", "Index", "OffsiteJob")</li>
                        <li>@Html.ActionLink("Summer of Parts", "partssummary", "OffsiteJob")</li>
                        <li>@Html.ActionLink("Assembly Houses", "Index", "AssemblyHouses")</li>
                       

                    </ul>
                </li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>

                            @*<li>@Html.ActionLink("SqlCommander", "Index", "SqlCommander")</li>*@

                        </ul>
                    </li>
               
            </ul>
            <div class="pull-right">@DateTime.Now REV: 040417</div>

           @*@Html.Partial("_LoginPartial")*@ 
        </div>
    </div>
</div>