@model CriticalWebApp.Models.RepairRouter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<button class="glyphicon glyphicon-print pull-right" onclick="printThis()" style="background-color: Transparent; background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 50px;"></button>
<h1 style="color:lightgreen">RMA #: @Model.Id</h1>
<div>
    <div class="text-center">
        <h2><u>1. Contact</u></h2>
    </div>
    <div class="form-group-sm">
        <div class="pull-right" style="border:solid; border-right-color: white; border-style: dotted; padding: 4px">
            <h3>C.O.D.</h3>
            @Html.LabelFor(model => model.isCODProduct, new { @class = "control-label" }):
            @if (!Model.isCODProduct)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}
            <br />
            @Html.LabelFor(model => model.IsCodMoney, new { @class = "control-label" }):
            @if (!Model.IsCodMoney)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}
        </div>


        <div class="col-xs-2">
            @Html.LabelFor(model => model.ContactDate, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.ContactDate)
        </div>

        <div class="col-xs-2">
            @Html.LabelFor(model => model.ContactedByPhone, new { @class = "control-label" }):
            @if (!Model.ContactedByPhone)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}
        </div>

        <div class="col-xs-2">
            @Html.LabelFor(model => model.ContactedByEmail, new { @class = "control-label" }):
            @if (!Model.ContactedByEmail)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}
        </div>

        <div class="col-xs-2">
            @Html.LabelFor(model => model.TalkedTo, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.TalkedTo)
        </div>
    </div>




    <br />
    <hr style="width: 100%; margin-top:25px; color: black; height: 1px; padding-top:4px; background-color:black;" />

    <div class="form-group-sm">
        <h4><u>Customer Information</u></h4>
        @Html.LabelFor(model => model.CurrentInQuickbooks, new { @class = "control-label" }):
        @Html.DisplayFor(model => model.CurrentInQuickbooks, new { htmlAttributes = new { @class = "form-control " } })
    </div>
    <div class="form-group-sm">

        <div class="col-sm-4">
            @Html.LabelFor(model => model.CustomerFirstName, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.CustomerFirstName, new { htmlAttributes = new { @class = "form-control" , id="customerFirstNameInput" } })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.CustomerLastName, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.CustomerLastName, new { htmlAttributes = new { @class = "form-control ", id="customerLastNameInput" } })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(model => model.ShopName, new { @class = "control-label" } ):
            @Html.DisplayFor(model => model.ShopName, new { htmlAttributes = new { @class = "form-control " } })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control " } })
        </div>
        <div class="col-sm-6">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", @style = "width:700px" } })
        </div>
        <div class="col-xs-12">
            @Html.LabelFor(model => model.Address, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "width:700px" } })
        </div>
        <div class="col-xs-3">
            @Html.LabelFor(model => model.City, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @style = "width:150px" } })
        </div>
        <div class="col-xs-2">
            @Html.LabelFor(model => model.State, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @style = "width:60px" } })
        </div>
        <div class="col-xs-7">
            @Html.LabelFor(model => model.ZipCode, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
        </div>

    </div>


    <div class="form-group-sm">

        <div class="col-xs-3" style="margin-top:10px; margin-bottom:auto; margin-left:auto; margin-right:auto; border:2px dashed black;">
            <p style="font-size:large">
                <u>Warranty Status</u>
                @Html.LabelFor(model => model.ProdInQB, new { @class = "control-label" }):
                @if (!Model.ProdInQB)
            {
                    <text>NO</text>}
            else
            {
                    <text>YES</text>}             
            </p>


            @Html.LabelFor(model => model.DateOfPurchase, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.DateOfPurchase, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", id = "dateOfPurchasePicker" } })
            @Html.LabelFor(model => model.PlaceOfPurchase, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.PlaceOfPurchase, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
            @Html.LabelFor(model => model.CoveredUnderWarranty, new { @class = "control-label" }):
            @if (!Model.CoveredUnderWarranty)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}        
         </div>


        <div class="col-xs-3" style="margin-top:10px; margin-bottom:20px; margin-left:30px; margin-right:auto; border:2px dashed black; padding-bottom:9px">
            <p style="font-size:large"><u>Product Info</u></p>
            @Html.LabelFor(model => model.ProductModel, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.ProductModel, new { htmlAttributes = new { @class = "form-control", id = "productModelInput" } })
            @Html.LabelFor(model => model.ProductSerialNumber, new { @class = "control-label"}):
            @Html.DisplayFor(model => model.ProductSerialNumber, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", id = "productSerialNumberInput" } })

        </div>

        <div class="col-xs-3" style="margin-top:10px; margin-bottom:auto; margin-left:30px; margin-right:auto; border:2px dashed black; padding-bottom:12px">
            <p style="font-size:large"><u>Services</u></p>
            @Html.LabelFor(model => model.IsWarrentyRepair, new { @class = "control-label" }):
            @if (!Model.IsWarrentyRepair) {
                <text>NO</text>}
            else {
                <text>YES</text>}
            @*@Html.DisplayFor(model => model.IsWarrentyRepair, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.LabelFor(model => model.IsReplaceRepackage, new { @class = "control-label" }):
            @if (!Model.IsReplaceRepackage)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}
            @Html.LabelFor(model => model.IsReferbishPkg, new { @class = "control-label" }):
            @if (!Model.IsReferbishPkg)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}            
            @Html.LabelFor(model => model.PaidRepairAmount, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.PaidRepairAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "$", @style = "width:75px" } })
        </div>

        <div class="col-xs-12">
            <div class="col-xs-4">
                @Html.LabelFor(model => model.ReturnLabel, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.ReturnLabel, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
            </div>
                <div class="col-xs-5">
                @Html.LabelFor(model => model.ShipType, new { @class = "control-label" }):
                @Html.DisplayFor(model => model.ShipType, new { htmlAttributes = new { @class = "form-control", @style = "width:200px" } })
            </div>
        </div>
    </div>

    <hr style="width: 100%; margin-top:25px; color: black; height: 1px; padding-top:4px; background-color:black;" />
    @*--------------------------------------------Receive-------------------------------------------------------------------------------------*@


    <div class="text-center">
        <h2><u>2. Receive</u></h2>
    </div>
    <div class="form-group-sm" style="margin-top:10px">
        <div class="col-xs-4">
            @Html.LabelFor(model => model.DateReceived, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.DateReceived, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", id = "dateReceivedPicker" } })
        </div>
        <div class="col-xs-8">
            @Html.LabelFor(model => model.RMAReceivedBy, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.RMAReceivedBy, new { htmlAttributes = new { @class = "form-control", @style = "width:200px", id = "rmaReceivedByInput" } })
        </div>
        <div class="col-xs-4" style="border:2px dashed black; height:160px">
            <h4>Product Received </h4>
            @Html.LabelFor(model => model.ProductReceived, new { @class = "control-label" }):
            @if (!Model.ProductReceived)
            {
                <text>NO</text>}
            else
            {
                <text>YES</text>}   
            <p></p>
            @Html.LabelFor(model => model.ProductModel, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.ProductModel, new { htmlAttributes = new { @class = "form-control" } })
            <p></p>
            @Html.LabelFor(model => model.ProductSerialNumber, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.ProductSerialNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-xs-4" style="border:2px dashed black; height:160px;">
            <h4>Other items received</h4>
            @Html.LabelFor(model => model.OtherReceived, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.OtherReceived, new { htmlAttributes = new { @class = "form-control", rows = "4" } })

        </div>
        <div class="col-xs-4" style="border:2px dashed black; height:160px;">
            <h4>Physical defects / blemishes on product(s) received.</h4>
            @Html.LabelFor(model => model.OtherReceived, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.OtherReceived, new { htmlAttributes = new { @class = "form-control", rows = "4" } })

        </div>


    </div>


    <hr style="width: 100%; margin-top:25px; color: black; height: 1px; padding-top:4px; background-color:black;" />

    @*--------------------------------------------REPAIR-------------------------------------------------------------------------------------*@
    <div class="text-center">
        <h2><u>3. Repair</u></h2>
    </div>

    <div class="form-group-sm">
    
   

        <div class="col-xs-12">
            <div class="col-xs-4">
                @Html.Label("Product Model: ", htmlAttributes: new { @class = "control-label" })
                @Html.DisplayFor(model => model.ProductModel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div>
            @Html.Label("Serial #: ", htmlAttributes: new { @class = "control-label ", id = "productSerialNumberRepair" })
            @Html.DisplayFor(model => model.ProductSerialNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        </div>
        <div class="col-xs-12">
            @Html.LabelFor(model => model.CustomerComplaint, htmlAttributes: new { @class = "control-label" }):
            @Html.DisplayFor(model => model.CustomerComplaint, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-xs-12">
            @Html.LabelFor(model => model.SpecialInstructions, htmlAttributes: new { @class = "control-label" }):
            @Html.DisplayFor(model => model.SpecialInstructions, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-xs-12">
            <p>
               <h3><u> Repair Notes:</u></h3>
                @Html.LabelFor(model => model.WasRepaired, new { @class = "control-label" }):
                @if (!Model.WasRepaired)
            {
                    <text>NO</text>}
            else
            {
                    <text>YES</text>} 
                                @Html.LabelFor(model => model.WasReplaced, new { @class = "control-label" }):
                @if (!Model.WasReplaced)
            {
                    <text>NO</text>}
            else
            {
                    <text>YES</text>} 
                        </p>
        </div>
        <div class="col-xs-12" style="border:dotted 2px #2E3338">
            @Html.LabelFor(model => model.RepairNotes, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.RepairNotes, new { htmlAttributes = new { @class = "form-control", @style = "color: green" } })
        </div>
        <div class="col-xs-3">
            @Html.LabelFor(model => model.RepairDoneBy, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.RepairDoneBy, new { htmlAttributes = new { @class = "form-control", @style = "width:120px" } })
        </div>
        <div class="col-xs-3">
            @Html.LabelFor(model => model.RepairDate, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.RepairDate, new { htmlAttributes = new { @class = "form-control", id = "repairDatePicker" } })
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            @Html.LabelFor(model => model.OutSerialNumber, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.OutSerialNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(model => model.FirstTester, new { @class = "control-label" } ):
            
            @Html.DisplayFor(model => model.FirstTester, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.SecondTester, new { @class = "control-label" }):
            @Html.DisplayFor(model => model.SecondTester, new { htmlAttributes = new { @class = "form-control" } })
        </div>


    </div>
   

</div>
<hr style="width: 100%; margin-top:25px; color: black; height: 1px; padding-top:4px; background-color:black;" />
<br />
<div class="col-xs-12">
    @Html.LabelFor(model => model.Notes, new { @class = "control-label" }):
    @Html.DisplayFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", id = "repairDatePicker" } })
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{
    <script type="text/javascript">


        function printThis() {
            window.print();
        }
        $(document).ready(function () {
        });

    </script>
    }

<style>
    input[type=text] {
        color: white;
        border: 2px thin black;
        background-color: #2E3338;
        margin: 5px;
    }

    input[type=date] {
        color: white;
        background-color: #2E3338;
    }

    textarea {
        background-color: #2E3338;
        color: black;
        border: 2px thick black;
        vertical-align: top;
    }

    .control-label {
       
        color:lightslategray;
    }
</style>