@model CriticalWebApp.ViewModels.ProductionOutputTotalsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="jumbotron">
    <h2>Monthly Totals</h2>
    <table class="table table-striped">
     <tr>
         <th>
             Product
         </th>
         <th>
             Qty
         </th>
     </tr>
 
        @foreach (var total in Model.ProductionAverageTotals)
        {


            <tr>
                <td>
                    @total.Product
                </td>
                <td>
                    @total.Quantity
                </td>
            </tr>
        }
    </table>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
            Employee
        </th>
        <th>
            Quanitity
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ProductionOutputTotals) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.SKU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>

@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function(){
     

        });

    </script>
    
    }