@model IEnumerable<CriticalWebApp.Models.OffsiteJob>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssemblyHouse.Name)
        </th>
        <th>
            Product
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PONumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedDate)
        </th>
        <th>
            Job Qty
        </th>
        
        <th>
            Qty Delivered
        </th>
        <th>Backlog</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssemblyHouse.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name) Rev: @Html.DisplayFor(modelItem => item.Product.HardwareRevision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PONumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobQuantity)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOfProductDelivered)
        </td>
        <td id="backlogQuantityCell">
            @(item.JobQuantity - item.QuantityOfProductDelivered)
        </td>
        <td>
            @Html.ActionLink("Edit Kit", "CreateKit", new { id=item.Id }) |
            @Html.ActionLink("Receive", "Receive", new { id = item.Id }) |

        </td>
    </tr>
}

</table>


@section scripts{
<script>
    $(document).ready(function () {
        

    });

</script>
}