@model CriticalWebApp.ViewModels.OffsiteJobDetailsViewModel

@{
    ViewBag.Title = "Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Receive Parts from @Model.OffsiteJob.AssemblyHouse.Name</h2>

<div>
    <h4>PO#: @Model.OffsiteJob.PONumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            P.O.#
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.PONumber)
        </dd>
        <dt>
            Assembly House
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.AssemblyHouse.Name)
        </dd>

        <dt>
            Product
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.Product.Name) Rev:  @Html.DisplayFor(model => model.OffsiteJob.Product.HardwareRevision)
        </dd>



        <dt>
            Job QTY
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.JobQuantity)
        </dd>

        <dt>
            Issue Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.IssuedDate)
        </dd>

        <dt>
            Amount Delivered
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffsiteJob.QuantityOfProductDelivered)
        </dd>

    </dl>
</div>

<div class="container">
    <p>
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Details", "Details", new { id = Model.OffsiteJob.Id })

    </p>
    <input type="button" value="SAVE" class="btn btn-primary saveChangesButton" />
    <div class="container" style="border: dotted white 2px; padding:4px ">
        @Html.Label("Qty of " + Model.OffsiteJob.Product.Name + " received", new { @class="control-label col-xs-3" })
        <input type="text" id='completedPartQty' data-originalValue='@Model.OffsiteJob.QuantityOfProductDelivered' value="0" class="text-center form-control col-xs-5" autocomplete="off" />
    </div>
    

    <table class="table table" id="jobInventoriesTable">
       
        
        <tr>
            <th>Part</th>
            <th>Description</th>
            <th class="text-center">Qty @@ @Model.OffsiteJob.AssemblyHouse.Name</th>
            <th class="qtyCell">Qty of part received</th>
            
            @*Original QTY given to location*@

        </tr>
       
        @foreach (var part in Model.JobInventories)
        {
            <tr>
                <td class="jobInventoryId" id="@part.Id">
                    @part.Part.Name

                </td>
                <td>
                    @part.Part.Description
                </td>
                <td class="text-center">
                    @part.QuantityAtJobSite
                </td>
                <td>@*@Model.ProductAssemblies.FirstOrDefault(p => p.PartId == part.PartId).QuantityPerProduct*@
                    <input type="text" id='@part.PartId' data-originalValue='@part.QuantityAtJobSite' data-qtyPerBoard='@Model.ProductAssemblies.FirstOrDefault(p => p.PartId == part.PartId).QuantityPerProduct' value="0" class="qtyInput small col-xs-5 text-center" autocomplete="off" />
                </td>
               

            </tr>
        }
    </table>
    <input type="button" value="SAVE" class="btn btn-primary saveChangesButton" />

</div>



<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {
    <script>
        $(document).ready(function () {
            var vm = {
                id: 0,
                PartId: 0,
                OffsiteJobId: 0,
                QuantityAtJobSite: 0
            };





            var offsiteJob = {
                Id: @Model.OffsiteJob.Id,
                PONumber: @Model.OffsiteJob.PONumber,

                AssemblyHouseId: @Model.OffsiteJob.AssemblyHouseId,

                ProductId:  @Model.OffsiteJob.ProductId,
                JobQuantity:  @Model.OffsiteJob.JobQuantity,
                IssuedDate: "@Model.OffsiteJob.IssuedDate",
                QuantityOfProductDelivered: @Model.OffsiteJob.QuantityOfProductDelivered
                };





            //changes color of row on section
            var color = '#fffff';
            $('.qtyInput[type=text]').focusin(function () {
                color = $(this).css('background-color');
                $(this.parentElement.parentElement).css('background', '#585858');
            });
            $('.qtyInput[type=text]').focusout(function () {
                $(this.parentElement.parentElement).css('background', color);
            });

            $('.saveChangesButton').on('click', function () {
                toastr.warning("Working... Please wait.");
                var initialQty = parseInt($('#completedPartQty').attr('data-originalValue'));
                var receivedQty = parseInt($('#completedPartQty').val());
                var finalQty = receivedQty + initialQty;
                offsiteJob.QuantityOfProductDelivered = finalQty;
                if ($('#completedPartQty').val() >= 0){

                    $.ajax({
                        url: "/api/offsitejobs/" + @Model.OffsiteJob.Id,
                        method: "put",
                        async: false,
                        data: offsiteJob
                    })
              .done(function () {
                  console.log("DONE");
              })
              .fail(function () {
                  console.log("FAIL");
              });
                }

                $('#jobInventoriesTable tr').each(function (i, data) {
                    var value = $(this).find("input").val();
                    var offsiteJobId = @Model.OffsiteJob.Id;
                    var partId =  $(this).find("input").attr("id");
                    var qtyAtJobSite =  $(this).find("input").attr("data-originalValue");
                    var id =  $(this).find(".jobInventoryId").attr("id");
                    if (value >= 0){
                        //console.log("SAVING - ID: " + partId + " Value: " + value + " offsiteJobId: " + offsiteJobId);
                        vm.id = id;
                        vm.PartId = partId;
                        vm.OffsiteJobId =  offsiteJobId;
                        vm.QuantityAtJobSite = (qtyAtJobSite - value) - (parseInt($('#completedPartQty').val()) *  $(this).find("input").attr("data-qtyPerBoard"));
                        console.log(vm);

                        $.ajax({
                            url: "/api/jobinventories/" + id,
                            method: "put",
                            async: false,
                            data: vm
                        })
              .done(function () {
                  console.log("DONE");

              })
              .fail(function () {
                  console.log("FAIL");

              });
                    }
                });
                window.location.reload()

                //console.log(vm);
            });

        });



    </script>



}

<style>
    input[type=text] {
        color: white;
        background-color: #2E3338;
        border: solid 1px black;
    }

    input[type=date] {
        color: white;
        background-color: #2E3338;
    }
</style>